{
  "$schema": "http://json-schema.org/draft-03/schema",
  "properties": {
    "corrections  ": {
      "type": "object",
      "required": true,
      "properties": {
        "releases": {
          "type": "object",
          "required": false,
          "properties": {
            "coverart": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "boolean",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "c_line": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "description": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "featuring": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "genre_id": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "label": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "meta_language": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "performer": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "primary": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "release_amazon_pricing": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "release_artist": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "release_name": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "release_subgenre": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "remixer": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "vendor_release_identifier": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            }
          }
        },
        "tracks": {
          "type": "object",
          "required": false,
          "properties": {
            "explicit_lyrics": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "featuring": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "last_updated": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "length_minute": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "length_seconds": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "meta_language": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "original_file_name": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "performer": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "previewstarttime": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "p_line": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "remixer": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "track": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "track_amazon_pricing": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "track_artist": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "track_itunes_pricing": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "track_name": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "track_publisher": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "track_writer": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "array",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "vendor_track_identifier": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            },
            "version": {
              "type": "object",
              "required": false,
              "properties": {
                "correction": {
                  "type": "string",
                  "required": true
                },
                "rejection_note": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  },
  "required": true,
  "type": "object"
}
